
//fonts
$fontstack-headers:		"BenchNine", sans-serif;
$fontstack-body: 		"Didact Gothic", sans-serif;
$fontsize-h1: 			29px;
$fontsize-h2:			24px;
$fontsize-p: 			16px; 

//grid
$grid-site-width: 	960px;
$height-header:		160px;
$height-footer: 	380px;
$height-h1: 		$fontsize-h1 + 10px;
$height-button:		30px; 

//margin
$margin-wrapper: 	0; 

//colors
$color-about-me:	#FFA8C1;
$color-portfolio:	white; 
$color-contact:		#59BFBB; 
$color-header: 		white;

//shadows
$shadow-button:	0 3px; 
